In [1]:
import pandas as pd

In [9]:
data = pd.read_csv('_ea07570741a3ec966e284208f588e50e_titanic.csv', index_col = 'PassengerId')

In [13]:
data

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [64]:
print('{} {}'.format(data.loc[data['Sex']=='male','Sex'].size, data.loc[data['Sex']=='female','Sex'].size))

577 314

In [65]:
with open("Sex.txt", "w") as text_file:
    print('{} {}'.format(data.loc[data['Sex']=='male','Sex'].size, data.loc[data['Sex']=='female','Sex'].size), file=text_file)

In [38]:
round(data.loc[data['Survived']==1,'Survived'].size*100/data['Survived'].size, 2)

38.38

In [39]:
round(data.loc[data['Pclass']==1,'Pclass'].size*100/data['Survived'].size, 2)

24.24

In [49]:
print(round(data['Age'].mean(),2), data['Age'].median())

29.7 28.0

In [209]:
round(data[['SibSp','Parch']].corr(),2).loc['SibSp','Parch']

0.41

In [210]:
with open("sib.txt", "w") as text_file:
    print(round(data[['SibSp','Parch']].corr(),2).loc['SibSp','Parch'], file=text_file)

In [138]:
data.loc[data['Sex'] == 'female', 'Name'].str.findall(r'(?<=\b\. )[a-zA-Z]+').apply(
    lambda x: x[0] if len(x)!=0 else None).value_counts().idxmax()

'William'

In [186]:
a = data.loc[data['Sex'] == 'female', 'Name']
pat = '('
pat in a[2]

True

In [194]:
import re
pat = '('
pat2 = '"'
kvak = data.loc[data['Sex'] == 'female', 'Name'].apply(lambda x: re.findall(r'(?<=\()[a-zA-Z]+', x)
                                                                   if (pat in x) == True
                                                                   el
                                                                   else re.findall(r'(?<=\b\. )[a-zA-Z]+', x))

In [203]:
kvak.apply(
    lambda x: x[0] if len(x)!=0 else None).value_counts()

Anna         15
Mary         14
Elizabeth    11
Margaret     10
Alice         6
             ..
Albina        1
Sigrid        1
Elna          1
Aurora        1
Ebba          1
Name: Name, Length: 176, dtype: int64

In [137]:
with open("name.txt", "w") as text_file:
    print(kvak.apply(
    lambda x: x[0] if len(x)!=0 else None)).value_counts().idxmax(), file=text_file)

In [229]:
data = data[['Pclass', 'Fare', 'Age', 'Sex', 'Survived']] 
data = data.dropna(subset = ['Pclass', 'Fare', 'Age', 'Sex'])

In [230]:
import numpy as np
from sklearn.tree import DecisionTreeClassifier
data['Sex'] = data['Sex'].str.replace('female','0')
data['Sex'] = data['Sex'].str.replace('male','1')

In [231]:
X = data[['Pclass', 'Fare', 'Age', 'Sex']]
y = data['Survived']
clf = DecisionTreeClassifier(random_state = 241)
clf.fit(X,y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=241, splitter='best')

In [289]:
importances = clf.feature_importances_
data = {'features': X.columns, 'importances': importances}
df = pd.DataFrame(data = data).sort_values(by = 'importances')[-2:]

In [292]:
df['features'].values.tolist()

['Sex', 'Fare']

In [293]:
with open("tree.txt", "w") as text_file:
    print(df['features'].values.tolist(), file=text_file)