In [1]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import Ridge
from sklearn.feature_extraction import DictVectorizer
import pandas as pd

In [2]:
train = pd.read_csv('_df0abf627c1cd98b7332b285875e7fe9_salary-train.csv')

In [3]:
train['LocationNormalized'].fillna('nan', inplace=True)
train['ContractTime'].fillna('nan', inplace=True)

In [4]:
test = pd.read_csv('_d0f655638f1d87a0bdeb3bad26099ecd_salary-test-mini.csv')

In [5]:
test['LocationNormalized'].fillna('nan', inplace=True)
test['ContractTime'].fillna('nan', inplace=True)

In [6]:
vectorizer = TfidfVectorizer(min_df=5)
enc = DictVectorizer()

In [7]:
train

,FullDescription,LocationNormalized,ContractTime,SalaryNormalized
0,International Sales Manager London ****k ****...,London,permanent,33000
1,An ideal opportunity for an individual that ha...,London,permanent,50000
2,Online Content and Brand Manager// Luxury Reta...,South East London,permanent,40000
3,A great local marketleader is seeking a perman...,Dereham,permanent,22500
4,Registered Nurse / RGN Nursing Home for Young...,Sutton Coldfield,nan,20355
...,...,...,...,...
59995,"As a result of continued growth, First Class S...",Whitley Bay,contract,26400
59996,PHP / MVC Web Developer MacclesfieldCirca ***...,Macclesfield,permanent,26000
59997,"Staff Nurse, Nursing Home, Baldock White Recru...",Baldock,nan,24500
59998,This is one of the best agency side opportunit...,The City,permanent,65000
59999,Must have CSCS card must have asbestos awarene...,London,nan,23040

In [8]:
X_train = enc.fit_transform(train[['LocationNormalized', 'ContractTime']].to_dict('records'))
X_test = enc.transform(test[['LocationNormalized', 'ContractTime']].to_dict('records'))

In [9]:
train['FullDescription']

0        International Sales Manager London ****k  ****...
1        An ideal opportunity for an individual that ha...
2        Online Content and Brand Manager// Luxury Reta...
3        A great local marketleader is seeking a perman...
4        Registered Nurse / RGN  Nursing Home for Young...
                               ...
59995    As a result of continued growth, First Class S...
59996    PHP / MVC Web Developer  MacclesfieldCirca ***...
59997    Staff Nurse, Nursing Home, Baldock White Recru...
59998    This is one of the best agency side opportunit...
59999    Must have CSCS card must have asbestos awarene...
Name: FullDescription, Length: 60000, dtype: object

In [10]:
vectorizer.fit(train['FullDescription'])

TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.float64'>, encoding='utf-8',
                input='content', lowercase=True, max_df=1.0, max_features=None,
                min_df=5, ngram_range=(1, 1), norm='l2', preprocessor=None,
                smooth_idf=True, stop_words=None, strip_accents=None,
                sublinear_tf=False, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, use_idf=True, vocabulary=None)

In [11]:
texts_train = vectorizer.transform(train['FullDescription'])
texts_test = vectorizer.transform(test['FullDescription'])

In [12]:
from scipy.sparse import hstack

In [13]:
X_train = hstack([texts_train, X_train])
X_test = hstack([texts_test, X_test])

In [14]:
regr = Ridge(random_state=241, alpha=1)

In [15]:
regr.fit(X_train, train['SalaryNormalized'])

Ridge(alpha=1, copy_X=True, fit_intercept=True, max_iter=None, normalize=False,
      random_state=241, solver='auto', tol=0.001)

In [16]:
test

,FullDescription,LocationNormalized,ContractTime,SalaryNormalized
0,We currently have a vacancy for an HR Project ...,Milton Keynes,contract,NaN
1,A Web developer opportunity has arisen with an...,Manchester,permanent,NaN

In [17]:
regr.predict(X_test)

array([56547.75114191, 37200.14507899])